
/* GERAL */
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

body{
    display: flex;
    padding: 0rem;
    flex-direction: column;
}




/* HEADER */
header{
    max-width: 1200px;
    display: flex;
    height: 7rem;
    margin: 0 auto;
    justify-content: space-between;
    padding: 1rem;
    flex-direction: row;
    align-items: center;
}
header h1{
    font-size: 3rem;
}
header nav{
    display: flex;
    flex-direction: row;
}
header a{
    text-decoration: none;
    font-size: 1.5rem;
    padding: 1rem;
}
header a:hover{
    background-color: gray;
    transition: 0.3s;
}


/* SECÃO 1 */
#secao1{
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 1200px;
    gap: 100px;
    padding: 40px 20px;
    margin: 0 auto;
    align-items: center;
}

.divsecao1 h1{
    font-size: 4rem;
    width: fit-content;
}
.divsecao1 p{
    font-size: 1.25rem;
    color: gray;
}
.divsecao1{
    grid-column: 2;
    padding: 1rem;
}


/* SECÃO 2 */

section#secao2{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
    max-width: 1200px;
    padding: 7rem 0rem;
    margin: 0 auto;
}
section#secao2 h1{
    font-size: 10rem;
    color: rgb(182, 182, 182);
    grid-row: 1/3;
    word-break: break-all;
}
#secao2 h2{
    font-family: 2.5rem;
    color: rgb(90, 90, 90);
    margin-right: 8rem;
    display: block;
}
div.divdasdivs{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    grid-column: 2;
}
.divsecao2{
    position: relative;
    display: grid;
    background-color: rgb(204, 202, 202);
    padding: 1rem;
    border-radius: 10px;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    
}
.divsecao2::before{
    content: "";
position: absolute;
top: 2rem;
background-image: linear-gradient(fuchsia, pink);
width: 0.3rem;
height: 2rem;
left: -0.3rem;
}
div.divdasdivs p{
    display: block;
    color: rgb(66, 66, 66);
}
div.divdasdivs div h3{
padding: 1rem 0rem;
}

.divdasdivs ul{
    display: grid;
    list-style: none;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    text-align: center;
}
.divdasdivs ul li{
    font-weight: bold;
    background-color: white;
    border-radius: 5px;
    padding: 0.7rem 1rem;
    height: fit-content;
}

/* SECAO 3 */

#secao3{
    width: 100vw;
    padding: 7rem 0rem;
    background-color: rgb(20, 20, 20);
}
.limitesecao3{
    max-width: 100vw;
    margin-top: 7rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 6rem;
    margin: 0 auto;
}
#secao3 h1{
    font-size: 13rem;
    color: rgb(0, 0, 0);
    justify-self: center;
    word-break: break-all;
    width: 4ch;
    grid-row: 1/3;
}
#secao3 h2{
    font-family: 2.5rem;
    color: rgb(148, 148, 148);
    font-size: 2rem;
    max-width: 30ch;
}
div.divdasdivs3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: start;
}
.divsecao3{
    position: relative;
    display: grid;
    background-color: rgb(0, 0, 0);
    padding: 2rem 0rem 2rem 2rem;
    border-radius: 7px;
    font-size: 1.5rem;
    align-items: center;
    margin-right: 3rem;
    width: 16rem;
}
#secao3 strong{
color: white;
}
.divsecao3 h3{
    color: rgb(143, 143, 142);
    font-weight: normal;
}
.divsecao3 p{
    color: rgb(143, 143, 142);
}
.divsecao3::before{
    content: "";
position: absolute;
top: 2rem;
background-image: linear-gradient(fuchsia, pink);
width: 0.3rem;
height: 2rem;
left: -0.3rem;
}
.baixo{
    margin-top: 3rem;
}

/* lista */

.lista{
    padding: 1rem;
    margin: 4rem 0rem;
    display: grid;
    gap: 1rem;
    grid-column: 1;
    position: relative;
    margin: 0 auto;
}
.lista h2{
    color: rgb(161, 161, 161);
    font-size: 1.5rem;
    padding-bottom: 0.7rem;
}

.lista li{
    color: white;
    list-style: none;
    padding-bottom: 0.8rem;
    font-weight: bold;

}

div.lista ul li.depois{
    display: flex;
justify-content: space-between;
}
div.lista ul li.depois span{
    color: gray;
}
.escuro{
    color: gray;
}
.lista h2::before{
    position: absolute;
    left: -2.5rem;
    content: "\1F648";
}

/* FOOTER */

footer{
    background-color: rgb(0, 0, 0);
    display: grid;
    justify-content: center;
    margin: 0 auto;
    width: 100vw;
    position: relative;
    display: grid;
    padding: 1rem;
    gap: 2rem;
}

.caixinhaum::before{
    content: "";
    position: absolute;
    top: -3.5rem;
    background-color: fuchsia;
    width: 1.3rem;
    height: 7rem;
    left: 8.9rem;
    rotate: 45deg;
}
.caixinhadois::before{
    content: "";
    position: absolute;
    top: -5rem;
    background-color: pink;
    width: 1.3rem;
    height: 7rem;
    left: 8.6rem;
    rotate: 45deg;
}
footer h1{
    color: white;
    margin-bottom: 1rem;
}
footer p{
    color: gray;
    font-size: 1.5rem;
}
footer span{
    color: rgb(102, 102, 102);
}
footer a{
    text-decoration: underline;
    font-size: 2rem;
    color: white;
}
footer ul{
    list-style: none;
}


/* MEDIA QUERRY */
@media (max-width: 1300px) {
    div.divdasdivs3{
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
    #secao3 h1{
        font-size: 9rem;
    }
}
@media (max-width: 1100px) {
    
    .caixinhaum::before{
        display: none;
    }
    .caixinhadois::before{
        display: none;
    }
    div.divdasdivs3{
        grid-template-columns: 1fr;
    }
    footer{
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
    .lista{
        margin-left: 2rem;
    }
}
@media (max-width: 1000px) {
    
    header{
        width: 100%;
        padding: 0px;
        justify-content: space-between;
    }
    header h1{
        font-size: 2rem;
        padding: 1rem;
    }
    header nav{
        padding: 0.4rem;
        font-size: 1rem;
        flex-direction: row;
    }
    header nav a{
        padding: 0.5rem;
    }
    div.divsecao1{
        width: 100%;
        padding: 0px;
    }
    #secao1{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 40px 0px;
        justify-content: center;
    }
    
    section#secao1 h1{
        font-size: 4rem;
        text-align: center;
    }
    section#secao1 p{
        text-align: center;
    }
    section#secao1{
        text-align: start;
    }
    
    section#secao1 img{
        display: none;
    }

    section#secao2 h1{
        grid-column: 1/-1;
        font-size: 6rem;
        grid-row: 1/3;
        padding: 1rem;
        text-align: center;
        justify-self: center;
    }
    section#secao2 h2{
        margin-right: 0px;
    }
    section#secao2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100vw;
    }
    #secao2 h2{
        grid-column: 1/-1;
    }
    .divsecao2{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    div.divdasdivs{
        grid-column: 1/3;
        padding: 2rem;
    }
    div.limitesecao3{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    div.divdasdivs3{
        grid-template-columns: 1fr;
        gap: 1rem;
        justify-content: center;
    }
    div.divsecao3{
        width: 92%;
        padding: 20px 0px 20px 20px;
    }
    #secao3 h1{
        grid-column: 1/3;
        grid-row: 1/1;
        word-break: break-all;
        width: 100vw;
    }
    #secao3 h2{
        grid-column: 1/-1;
    }
    div.lista{
        margin-left: 3rem;

    }
    footer{
        width: auto;
    }
}