* {
  margin: 0px;
  padding: 0px;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
}
/* BODY */

.fundopreto {
  background-color: black;
}
img {
  border-radius: 6px;
}
.fontmaior {
  font-size: 2rem !important;
}
.fundolevementepreto {
  background-color: #111111;
  box-shadow: inset 0 80px white, inset 0 -90px white;
}
strong {
  color: #00ff73;
}
.fundopretocomboxshadow {
  background-color: black;
  box-shadow: 0 80px white, inset 0 -90px white;
}
.fundolevementepretosemboxshadow {
  background-color: #111111;
}
/*  */

/* HEADER */
header {
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  padding: 1.5rem;
  align-items: center;
}

header h1 {
  color: white;
}

header nav {
  display: flex;
  gap: 2rem;
  padding: 1rem 0rem 0rem 0rem;
}

header a {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
  border-bottom: 2px solid transparent;
}
header a:hover {
  border-bottom: 2px solid white;
  transition: 0.3s;
}
/*  */

/* ESCOLHA */
.escolha {
  padding: 4rem;
  max-width: 1200px;
  margin: 0 auto;
}
.escolha h3 {
  color: #b2b2b2;
}
.escolha h3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: lighter;
}
.escolha h2 {
  font-size: 4rem;
  color: white;
}
/*  */

/* SOFÃS */
.sofas {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  max-width: 1200px;
  margin: 0 auto;
  gap: 2rem;
  padding-top: 4rem;
}
.sofas img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  align-self: center;
}
.sofas > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0rem 2rem;
  gap: 2rem;
}
.sofas h3 {
  font-size: 2.5rem;
}
.containerdobongers {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.containerdobongers span {
  content: "";
  width: 20px;
  height: 10px;
  background-color: #00ff73;
}
.containerdobongers p {
  color: #595959;
  line-height: 1.5rem;
  font-size: 1.3rem;
}
.containerdobongers > div {
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding: 2rem 0rem 2rem 2rem;
  align-items: end;
}
.containerdobongers a {
  padding: 1rem 2rem;
  background-color: #00ff73;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  text-decoration: none;
  height: fit-content;
  font-size: 1.4rem;
  font-weight: bold
}
.containerdobongers a::after {
  content: url(imagens/rightarrow.svg);
  width: 1.5rem;
  height: 1.5rem;
}
.containerdobongers img {
  position: relative;
}
.containerdobongers img::before {
  position: absolute;
  content: "2000 R$";
  top: 20px;
  right: 20px;
  font-size: 1rem;
  color: black;
}
.containerdobongers ul{
    display: grid;
    grid-template-columns: 1fr;
}
.containerdobongers ul li {
  position: relative;
  list-style: none;
  line-height: 1.7rem;
  font-size: 1.5rem;
  color: #595959;
  padding: 0.3rem 0rem;
}
.containerdobongers ul li::before {
  position: absolute;
  left: -2rem;
  display: inline-block;
}
.containerdobongers ul li:nth-child(1)::before {
  content: "\1F30A";
}
.containerdobongers ul li:nth-child(2)::before {
  content: "\1F346";
}
.containerdobongers ul li:nth-child(3)::before {
  content: "\1F57A";
}
.containerdobongers ul li:nth-child(4)::before {
  content: "\1F30D";
}
/*  */

/* FOOTER */
footer {
  display: grid;
  grid-template-columns: 0.7fr 1fr 1fr;
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem;
}
footer h2 {
  font-size: 2rem;
  color: white;
}
footer div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
footer h3 {
  padding-bottom: 1.5rem;
  color: white;
  font-size: 1.5rem;
  font-weight: lighter;
}
footer div ul {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
footer li {
  list-style: none;
  color: #8d8d8d;
  font-size: 1.5rem;
}
footer p {
  color: #8d8d8d;
  font-size: 1.5rem;
}
.linha {
  margin: 0.5rem 0rem;
  width: 80%;
  height: 2px;
  background-color: rgb(17, 17, 17);
}
.ultimalinhadofooter {
  margin-top: 3rem;
  grid-column: 1/-1;
}
/*  */

@media (max-width: 900px) {
  footer {
    grid-template-columns: 1fr 1fr;
  }
  footer h2 {
    display: none;
  }
}

@media (max-width: 800px) {
  .sofas div {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  header a {
    font-size: 1rem;
  }
  footer {
    grid-template-columns: 1fr;
  }
  .containerdobongers ul{
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 100%;
  }
  .containerdobongers ul li:nth-child(2){
    margin-left: 20px;
  }
  .containerdobongers ul li:nth-child(4){
    margin-left: 20px;
  }
  .containerdobongers > div{
    flex-direction: column;
    align-items: start;
  }
  .containerdobongers a{
        margin:  2rem 0rem 0rem -2rem;
  }
  .sofas > div{
    padding: 0rem 1rem;
  }
  .escolha{
    padding: 2rem;
  }
}
@media (max-width: 400px) {
  footer p {
    font-size: 1.2rem;
  }
  .escolha{
    justify-content: center;
  }
  .escolha h2{
    font-size: 3rem;
  }
  .escolha h3{
 font-size: 1rem;
  }
  .containerdobongers a{
    padding: 1rem 1rem;
  }
  .containerdobongers ul li{
    font-size: 1.4rem;
  }
}
/*  */
